body{
  font-family: 'Marvel', sans-serif !important;
    text-align: center;
    font-weight: 400 !important;
    height: 100%;         /*Most recent change- TeJaun*/

}



.container {
    margin: 0 10% 0 10%;
    padding: 3%;
}



.galery1 {
  padding: 10% 20%;

  
}


.row {
  padding: 1.5% 0;
}



h1 {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 400;
    font-size: 3rem;
}

h3 {
  text-align: center;
  padding: 3% 0 0 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 3rem !important;
}


hr {
  width: 15%;
}

.rowproject {
  padding: 3% 10%;
}


.fab, .fas{
    margin: 2%;
}

.copyright {
     font-size: 0.5rem;
}

/*title*/
.title {
    margin: 0%;
}

/*introduction*/
.introduction{
    margin: 0%;
}


  .scene {
    width: 350px;
    height: 250px;
    border:white;
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1.5s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
 
    color: #5d5d5d;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: white;
  }
  
  .card__face--back {
    background:#e5e5e5;
    transform: rotateY(180deg);
  }


#about, #blog{
  background-color: #eeeeee;
}


/***navbar***/
.navbar {
  background-color: #5c5757;
}

.navbar-brand{
  font-size: 2rem;
  padding: 0;
  font-family: 'Marvel', sans-serif;
}

.nav-item {
  font-size: 1.6rem;
  padding: 0 15% 0 0;
  font-family: 'Marvel', sans-serif;
}

/*icon*/
.fas1{
  color: #464159;
}

.fas2 {
  color: #6c7b95;
}

.fas3 {
  color: #8bbabb;
}

.fas4 {
  color: #3c9d9b;
}

/*About*/
.img-pro {
  border-radius: 100% 100% 100% 100%;
}