body{
  font-family: 'Marvel', sans-serif !important;
    text-align: center;
    font-weight: 400 !important;
    height: 100%;         /*Most recent change- TeJaun*/

}

#content {
  height: 3500px;
}

.container {
    margin: 0 10% 0 10%;
    padding: 3%;
}



.gallery1 {
  padding: 5% 20%; 
  position: absolute;
}

.galleryzoom {
    width: 52%;  
    left: 25%;
    top: 12%;
    position: relative;
}

.zoomedimg {
  border-radius: 5%;

  box-shadow: 
  inset 0 -3em 3em white, 
  0 0  0 0.3px rgb(44, 43, 43),
  0.3em 0.5em 0.8em rgb(36, 34, 34);
}
.yoga:hover, .zoomedimg:hover {
  cursor: pointer;
}

  


.trans {
  opacity: 0.33;
}

.visibility {
  visibility: hidden;
}


.row {
  padding: 1.5% 0;
}



h1 {
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 400;
    font-size: 3rem;
}

h3 {
  text-align: center;
  padding: 3% 0 0 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 3rem !important;
}


hr {
  width: 15%;
}

.rowproject {
  padding: 3% 10%;
}


.fab, .fas{
    margin: 2%;
}

.fas{
   position: relative;
}

.copyright {
     font-size: 0.5rem;
}

#mainpage {
  height: 800px;
  padding: 10% 0 10% 0;
}

/*About*/
.aboutme {
  color: #eeeeee;
}


  .scene {
    width: 350px;
    height: 250px;
    border:white;
    margin: 40px 0;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1.5s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
 
    color: #5d5d5d;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: white;
  }
  
  .card__face--back {
    background:#204969;
    transform: rotateY(180deg);
  }


#about, #blog{
  background-color: #eeeeee;
}


/***navbar***/
.navbar {
  background-color: #5c5757;
}

.navbar-brand{
  font-size: 2rem;
  padding: 0;
  font-family: 'Marvel', sans-serif;
}

.nav-item {
  font-size: 1.6rem;
  padding: 0 15% 0 0;
  font-family: 'Marvel', sans-serif;
}

/*icon*/
.fas1{
  color: #464159;
  right: 100px;
}

.fas1:hover {
  color: #202040;
  cursor: pointer;
}

.fas2 {
  color: #6c7b95;
  right: 50px;
}
.fas2:hover{
  color: #204969;
  cursor: pointer;
}



.fas3 {
  color: #8bbabb;
  right: 0px;
}
.fas3:hover{
  color: #00bdaa;
  cursor: pointer;
}

.fas4 {
  color: #3c9d9b;
  right: -50px;
}
.fas4:hover{
  color: #347474;
  cursor: pointer;
}
/*About*/
.img-pro {
  border-radius: 100% 100% 100% 100%;
}